## Import Packages and Read Data

In [2]:
#import packages
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import *

/Users/kevinzhao/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/kevinzhao/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/Users/kevinzhao/anaconda3/lib/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [3]:
# Read Data

filepath = '/Users/kevinzhao/Kaggle/Recruit_Restaurant/inputs/'

# main data
air_visit= pd.read_csv(filepath + 'air_visit_data.csv')

#reservation info
air_reserve = pd.read_csv(filepath + 'air_reserve.csv')
hpg_reserve = pd.read_csv(filepath + 'hpg_reserve.csv')

#store info
air_store_info = pd.read_csv(filepath + 'air_store_info.csv')
hpg_store_info = pd.read_csv(filepath + 'hpg_store_info.csv')

#japanese holidays
date_info = pd.read_csv(filepath + 'date_info.csv')

#ids to link stores
store_id_relation = pd.read_csv(filepath + 'store_id_relation.csv')

## Exploratory Data Analysis

#### Main data set: air_vist

In [92]:
air_visit.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [93]:
# convert visit date to pandas datetime
#air_visit.visit_date = pd.to_datetime(air_visit['visit_date'])

In [94]:
# Train Data is from 1/1/2016 - 4/22/2017
air_visit.visit_date.min(), air_visit.visit_date.max()

('2016-01-01', '2017-04-22')

In [95]:
# 829 stores 
air_visit.air_store_id.nunique()

829

#### Store Info

In [96]:
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [97]:
hpg_store_info.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

#### Reservation Info

In [98]:
air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [99]:
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

#### Japanese Holidays

In [100]:
# 1 indicates holiday
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [101]:
# 35 of 517 days are holidays
date_info.holiday_flg.sum(), date_info.calendar_date.count()

(35, 517)

## Data Wrangling and Feature Engineering

In [4]:
# Rename columns to avoid variable overlap
air_store_info.columns = ['air_store_id','air_genre_name','air_area_name', 'air_latitude', 'air_longitude']
hpg_store_info.columns = ['hpg_store_id','hpg_genre_name','hpg_area_name', 'hpg_latitude', 'hpg_longitude']
air_reserve.columns = ['air_store_id', 'air_visit_datetime', 'air_reserve_datetime', 'air_reserve_visitors']
hpg_reserve.columns = ['hpg_store_id', 'hpg_visit_datetime', 'hpg_reserve_datetime', 'hpg_reserve_visitors']

### Joins

#### 1. Add Air store info to main data set

In [5]:
main_data = air_visit.merge(air_store_info, on='air_store_id', how='left')
main_data.head()

,air_store_id,visit_date,visitors,air_genre_name,air_area_name,air_latitude,air_longitude
0,air_ba937bf13d40fb24,2016-01-13,25,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
1,air_ba937bf13d40fb24,2016-01-14,32,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
2,air_ba937bf13d40fb24,2016-01-15,29,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
3,air_ba937bf13d40fb24,2016-01-16,22,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
4,air_ba937bf13d40fb24,2016-01-18,6,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

#### Add holiday and day of week

In [6]:
date_info.columns = ['visit_date','day_of_week','holiday_flg']

In [7]:
date_info

     visit_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0
5    2016-01-06   Wednesday            0
6    2016-01-07    Thursday            0
7    2016-01-08      Friday            0
8    2016-01-09    Saturday            0
9    2016-01-10      Sunday            0
10   2016-01-11      Monday            1
11   2016-01-12     Tuesday            0
12   2016-01-13   Wednesday            0
13   2016-01-14    Thursday            0
14   2016-01-15      Friday            0
15   2016-01-16    Saturday            0
16   2016-01-17      Sunday            0
17   2016-01-18      Monday            0
18   2016-01-19     Tuesday            0
19   2016-01-20   Wednesday            0
20   2016-01-21    Thursday            0
21   2016-01-22      Friday            0
22   2016-01-23    Saturday            0
23   2016-01-24      Sunday            0
24   2016-01-25      Monday            0
25   2016-01-26     Tuesday            0
26   2016-01-27   Wednesday            0
27   2016-01-28    Thursday            0
28   2016-01-29      Friday            0
29   2016-01-30    Saturday            0
..          ...         ...          ...
487  2017-05-02     Tuesday            0
488  2017-05-03   Wednesday            1
489  2017-05-04    Thursday            1
490  2017-05-05      Friday            1
491  2017-05-06    Saturday            0
492  2017-05-07      Sunday            0
493  2017-05-08      Monday            0
494  2017-05-09     Tuesday            0
495  2017-05-10   Wednesday            0
496  2017-05-11    Thursday            0
497  2017-05-12      Friday            0
498  2017-05-13    Saturday            0
499  2017-05-14      Sunday            0
500  2017-05-15      Monday            0
501  2017-05-16     Tuesday            0
502  2017-05-17   Wednesday            0
503  2017-05-18    Thursday            0
504  2017-05-19      Friday            0
505  2017-05-20    Saturday            0
506  2017-05-21      Sunday            0
507  2017-05-22      Monday            0
508  2017-05-23     Tuesday            0
509  2017-05-24   Wednesday            0
510  2017-05-25    Thursday            0
511  2017-05-26      Friday            0
512  2017-05-27    Saturday            0
513  2017-05-28      Sunday            0
514  2017-05-29      Monday            0
515  2017-05-30     Tuesday            0
516  2017-05-31   Wednesday            0

[517 rows x 3 columns]

In [8]:
main_data = main_data.merge(date_info, on = "visit_date", how='left')

In [9]:
main_data.head()

,air_store_id,visit_date,visitors,air_genre_name,air_area_name,air_latitude,air_longitude,day_of_week,holiday_flg
0,air_ba937bf13d40fb24,2016-01-13,25,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Wednesday,0
1,air_ba937bf13d40fb24,2016-01-14,32,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Thursday,0
2,air_ba937bf13d40fb24,2016-01-15,29,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Friday,0
3,air_ba937bf13d40fb24,2016-01-16,22,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Saturday,0
4,air_ba937bf13d40fb24,2016-01-18,6,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Monday,0

#### 2. Add Hpg store info to main data set

In [12]:
hpg_data = hpg_store_info.merge(store_id_relation, on ='hpg_store_id', how='left')
main_data_with_hpg = main_data.merge(hpg_data, on = 'air_store_id', how='outer')

#### 3. Pickle dataframe

In [14]:
pickle.dump(main_data_with_hpg, open('main_data_with_hpg.p', 'wb'))
main_data_with_hpg = pickle.load(open('main_data_with_hpg.p', 'rb'))

## Modeling

#### 1. Just for kicks lets start with linear regression

In [116]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(main_data[main_data.columns['air_latitude', 'air_longitude']],
                                                    main_data.visitors, random_state=42)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [109]:
X_train

,air_area_name,air_genre_name,air_latitude,air_longitude,air_store_id,visit_date,visitors
66672,Fukuoka-ken Fukuoka-shi Daimyō,Dining bar,33.589216,130.392813,air_fe22ef5a9cbef123,2016-09-12,27
179876,Hyōgo-ken Kōbe-shi Sumiyoshi Higashimachi,Cafe/Sweets,34.720228,135.265455,air_c28983412a7eefcf,2016-10-23,72
23787,Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike,Izakaya,34.756950,134.841177,air_e55abd740f93ecc4,2016-11-19,66
54269,Tōkyō-to Suginami-ku Asagayaminami,Other,35.699566,139.636438,air_efc80d3f96b3aff7,2016-09-28,8
62466,Tōkyō-to Minato-ku Shibakōen,Bar/Cocktail,35.658068,139.751599,air_c8265ecc116f2284,2017-03-11,3
160693,Hyōgo-ken Kōbe-shi Kumoidōri,Okonomiyaki/Monja/Teppanyaki,34.695124,135.197852,air_f927b2da69a82341,2016-10-13,4
240455,Tōkyō-to Suginami-ku Asagayaminami,Cafe/Sweets,35.699566,139.636438,air_5d945ade487cdf4d,2016-05-01,24
44672,Tōkyō-to Minato-ku Shibakōen,Dining bar,35.658068,139.751599,air_88c8e34baa79217b,2016-09-17,33
23996,Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike,Izakaya,34.756950,134.841177,air_3e6cea17a9d2c0f1,2016-03-22,13
220345,Tōkyō-to Shibuya-ku Shibuya,Okonomiyaki/Monja/Teppanyaki,35.661777,139.704051,air_8d61f49aa0373492,2017-02-13,42
82736,Fukuoka-ken Kitakyūshū-shi Konyamachi,Cafe/Sweets,33.881068,130.881838,air_b0a6a4c5e95c74cf,2016-11-14,11
144705,Tōkyō-to Chūō-ku Tsukiji,Cafe/Sweets,35.670651,139.771861,air_464a62de0d57be1e,2017-02-01,23
199366,Tōkyō-to Setagaya-ku Setagaya,Bar/Cocktail,35.646572,139.653247,air_4f762e840b3996e1,2016-01-08,17
236957,Hyōgo-ken Takarazuka-shi Tōyōchō,Cafe/Sweets,34.799767,135.360073,air_74cf22153214064c,2016-12-21,12
22682,Hiroshima-ken Hiroshima-shi Kokutaijimachi,Izakaya,34.386245,132.455018,air_ecab54b57a71b10d,2016-12-23,18
213012,Fukuoka-ken Fukuoka-shi Daimyō,Cafe/Sweets,33.589216,130.392813,air_6c91a28278a16f64,2016-07-20,11
95255,Hyōgo-ken Kōbe-shi Kumoidōri,Dining bar,34.695124,135.197852,air_cbe139af83feb388,2016-06-09,13
116357,Hyōgo-ken Nishinomiya-shi Rokutanjichō,Cafe/Sweets,34.737597,135.341564,air_064e203265ee5753,2016-09-15,14
36837,Fukuoka-ken Fukuoka-shi Daimyō,Izakaya,33.589216,130.392813,air_af63df35857b16e6,2016-08-01,21
237962,Tōkyō-to Machida-shi Morino,Dining bar,35.546631,139.438619,air_57013002b912772b,2016-08-23,2
86990,Tōkyō-to Setagaya-ku Setagaya,Cafe/Sweets,35.646572,139.653247,air_bf13014b6e3e60ca,2017-04-22,49
103867,Tōkyō-to Adachi-ku Chūōhonchō,Dining bar,35.775664,139.804479,air_6d64dba2edd4fc0c,2016-12-03,13
245331,Tōkyō-to Minato-ku Akasaka,Dining bar,35.674918,139.736775,air_15e6e15c7ea2c162,2016-10-19,36
8214,Hyōgo-ken Himeji-shi Yasuda,Izakaya,34.815149,134.685353,air_6ca1d941c8199a67,2016-12-23,40
219385,Hokkaidō Abashiri-shi Minami 6 Jōhigashi,Yakiniku/Korean food,44.020632,144.273398,air_1653a6c513865af3,2016-10-26,30
230643,Tōkyō-to Tachikawa-shi Izumichō,Dining bar,35.714014,139.407843,air_473f98b212d37b4a,2016-09-25,10
101877,Tōkyō-to Kōtō-ku Tōyō,Izakaya,35.672853,139.817410,air_90bd5de52c166767,2016-09-10,19
41119,Tōkyō-to Setagaya-ku Setagaya,Japanese food,35.646572,139.653247,air_1dd8f6f47480d1a2,2016-10-02,2
240298,Hiroshima-ken Hiroshima-shi Nagarekawachō,Izakaya,34.388969,132.463095,air_152c1f08d7d20e07,2017-01-12,7
224946,Tōkyō-to Toshima-ku Mejiro,Izakaya,35.725300,139.696188,air_a563896da3777078,2016-11-08,18
...,...,...,...,...,...,...,...
184779,Fukuoka-ken Itoshima-shi Maebarunishi,Cafe/Sweets,33.557320,130.195555,air_083ddc520ea47e1e,2016-07-02,15
214176,Tōkyō-to Meguro-ku Jiyūgaoka,Cafe/Sweets,35.609208,139.669361,air_09040f6df960ddb8,2017-01-31,3
235796,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,Italian/French,34.681261,135.509801,air_40f6193ea3ed1b91,2016-02-12,6
103355,Ōsaka-fu Ōsaka-shi Ōgimachi,Cafe/Sweets,34.705362,135.510025,air_832f9dbe9ee4ebd3,2016-09-30,92
5311,Tōkyō-to Minato-ku Shibakōen,Japanese food,35.658068,139.751599,air_876d7a23c47811cb,2016-07-22,25
199041,Tōkyō-to Toshima-ku Minamiikebukuro,Japanese food,35.726118,139.716605,air_55e11c33d4758131,2016-11-19,45
64925,Tōkyō-to Taitō-ku Higashiueno,Japanese food,35.712607,139.779996,air_f2c5a1f24279c531,2016-06-12,13
194027,Fukuoka-ken Fukuoka-shi Daimyō,Italian/French,33.589216,130.392813,air_a7404a854919e990,2016-08-27,5
59735,Fukuoka-ken Fukuoka-shi Daimyō,Dining bar,33.589216,130.392813,air_1e665503b8474c55,2016-02-05,14
769,Ōsaka-fu Ōsaka-shi Ōgimachi,Cafe/Sweets,34.705362,135.510025,air_8e4360a64dbd4c50,2016-08-28,47
64820,Hiroshima-ken Fukuyama-shi Higashisakuramachi,Izakaya,34.485899,133.362313,air_c3585b0fba3998d0,2016-12-21,25
67221,Tōkyō-to Minato-ku Shibakōen,Izakaya,35.658068,139.751599,air_86cfbf2624576fad,2016-05-19,4
41090,Tōkyō-to Setagaya-ku Setagaya,Japanese food,35.646572,139.653247,air_1dd8f6f47480d1a2,2016-09-01,26
16023,Tōkyō-to Meguro-ku Kamimeguro,Dining bar,35.641463,139.698171,air_b192fb5310436005,2016-09-10,12
191335,Tōkyō-to Shibuya-ku Shibuya,Western food,35.661777,139.704051,air_25d8e5cc57dd87d9,2016-12-05,21
175203,Tōkyō-to Toshima-ku Minamiikebukuro,Dining bar,35.726118,139.716605,air_09661c0f3259cc04,2017-04-20,15
126324,Tōkyō-to Bunkyō-ku Kasuga,Cafe/Sweets,35.708068,139.752167,air_e58f669b6f1a08ce,2016-09-20,13
112727,Tōkyō-to Shibuya-ku Shibuya,Dining bar,35.661777,139.704051,air_707d4b6328f2c2df,2016-11-20,12
87498,Ōsaka-fu Ōsaka-shi Fuminosato,Cafe/Sweets,34.638969,135.518496,air_9bbc673495e23532,2017-02-25,15
168266,Fukuoka-ken Fukuoka-shi Hakata Ekimae,Other,33.591358,130.414878,air_e0e69668214ff972,2017-02-09,2
213458,Tōkyō-to Taitō-ku Kuramae,Cafe/Sweets,35.704344,139.791428,air_eceb97ad6a7d4c07,2017-01-28,25
137337,Tōkyō-to Meguro-ku Kamimeguro,Italian/French,35.641463,139.698171,air_9cd5e310f488bced,2016-07-13,10
54886,Tōkyō-to Suginami-ku Asagayaminami,Cafe/Sweets,35.699566,139.636438,air_e7d2ac6d53d1b744,2016-06-20,1
207892,Tōkyō-to Toshima-ku Sugamo,Dining bar,35.737942,139.731098,air_c3bc011cca3bec65,2017-04-06,3
110268,Tōkyō-to Chūō-ku Ginza,Yakiniku/Korean food,35.672114,139.770825,air_2aab19554f91ff82,2016-04-22,50
119879,Fukuoka-ken Fukuoka-shi Momochi,Japanese food,33.581941,130.348436,air_473cf23b9e7c0a37,2016-12-10,12
103694,Tōkyō-to Chūō-ku Tsukiji,Italian/French,35.670651,139.771861,air_e3020992d5fe5dfd,2017-02-17,17
131932,Ōsaka-fu Ōsaka-shi Ōgimachi,Izakaya,34.705362,135.510025,air_6ced51c24fb54262,2017-03-22,8
146867,Ōsaka-fu Ōsaka-shi Shinmachi,Cafe/Sweets,34.676231,135.486059,air_add9a575623726c8,2016-09-01,27
121958,Fukuoka-ken Kurume-shi Jōnanmachi,Dining bar,33.319286,130.508374,air_87f9e1024b951f01,2017-01-09,7

In [107]:
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

ValueError: could not convert string to float: '2017-01-09'